@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
}

/* 공통 */
.square {
  position: absolute;
  top: 180px;
  left: 290px;
  background-color: white;
  border-radius: 10px;
  height: 670px;
  width: 1200px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.appContentDiv {
  font-family: 'SUITE-Regular';
  position: absolute;
  top: 180px;
  left: 290px; /* Changed 'right' to 'left' */
  height: 670px;
  width: 1200px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* text-align: center; */
}

.flowInfo {
  position: absolute;
  left: 20px;
}



/* main ------------------------------------------------------------------------------------------------------------------ */
.appMainTatbleDiv {
  position: absolute;
  top: 270px;
  left: 50px;
  border-style: solid none solid none;
  border-width: thick;
  border-radius: 0%;
  width:  1100px;
}

.appMainTatbleDiv th {
  background-color: transparent;
  text-align: center;
  border-style: none none solid none;
  border-width: 1px;
}

.appMainTableInfo {
  position: absolute;
  top: 230px;
  left: 60px;
  font-size: small;
}

.appInfoBoxDiv{
  background: rgb(140 140 140/0.2);
  position: absolute;
  top: 30px;
  width: 1100px;
  height: 200px;
  left: 50px;
  border-radius: 10px;
  text-align: center;
}

.WTBox, 
.IPBox,
.ACBox,
.RTBox  {
  position: absolute;
  top: 10px;
  padding-top: 15px;
  background: hsla(216, 89%, 71%, 0.842);
  border-radius: 10px;
  width: 200px;
  height: 160px;
}

.WTBox{
  position: absolute;
  left: 60px;
}

.IPBox{
  position: absolute;
  left: 320px;
}

.ACBox{
  position: absolute;
  left: 570px;
}

.RTBox{
  position: absolute;
  left: 830px;
}

.ea{
  position: absolute;
  top: 50px;
  width: 200px;
  height: 90px;
  padding-top: 35px;
  background: white;
  color: midnightblue;
  font-size: 50px;
}

/* 결재문서 목록--------------------------------------------------------------------------------------- */
.appListTatbleDiv {
  position: absolute;
  top: 200px;
  left: 50px;
  border-style: solid none solid none;
  border-width: thick;
  border-radius: 0%;
  width: 1100px;
}

.appListTatbleDiv th {
  background-color: transparent;
  text-align: center;
  border-style: none none solid none;
  border-width: 1px;
}

.appListTableInfo {
  position: absolute;
  top: 150px;
  left: 60px;
  font-size: medium;
}



/* 결재문서 등록--------------------------------------------------------------------------------------- */
.flowInfo {
  position: absolute;
  left: 20px;
}

.registFormDiv {
  position: absolute;
  left: 900px;
}

.registFormDiv button {
  border-color: transparent;
  background-color: transparent;
}

.registFormDiv img {
  width: 100px;
}

.nextBtnDiv {
  position: absolute;
  left : 750px;
  top: 830px;
}


.nextBtnDiv button {
  border-color: transparent;
  background-color: transparent;
}

.nextBtnDiv img {
  width: 100px;
}

.appFormDiv {
  position: absolute;
  top: 70px;
  left: 30px
}

.appFormDiv table {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 1100px;
  height: 500px;
  word-wrap: unset;
}

.appFormDiv table #textInput{
  position: relative;
  width: 100px !important;
  height: 30px;
}

.appFormDiv table textarea {
  position: relative;
  width: 1000px;
  height: 300px;
  resize: none;
}


/* 결재선 등록--------------------------------------------------------------------------------------- */
.selectApplineDiv {
  position:absolute;
  left: 150px;
  top: 65px;
}

.memberChartBox {
  height: 600px;
  width: 350px;
  overflow: scroll;
  background: hwb(220 78% 21% / 0.192);
}

.memberChartContent{
  position: absolute;
  left: 30px;
}

.selectedMemberDiv {
  position: absolute;
  top: 65px;
  left: 700px;
  background: hwb(220 78% 21% / 0.192);
  height: 600px;
  width: 350px;
}

.registFormDiv2 {
  position: absolute;
  left: 830px;
}

.registFormDiv2 button {
  border-color: transparent;
  background-color: transparent;
}

.registFormDiv2 img {
  width: 100px;
}

/* 결재문서 상세 조회--------------------------------------------------------------------------------------- */
.appDetailDiv{
  position: absolute;
  top: 20px;
  left: 350px;
  /* flex-wrap: wrap; */
}

.applineInfoBoxDiv {
  position: absolute;
  top: -90px;
  left: 850px;
  width:600px;
  height: 200px;
  /* flex-wrap: wrap; */
  text-align: center;
  
}

.applineInfoBoxDiv table {
  position: absolute;
  /* margin-right: 1px; */
  /* flex-wrap: wrap; */
  height: 150px;
}

.applineInfoBoxDiv table th {
  text-align: center;
  font-size: small;
  height: 5px;
}

.applineInfoBoxDiv table td {
  text-align: center;
  font-size: medium;
  height: 10px;
}

.approvalDetailTable {
  position: absolute;
  top: 350px;
  height: 450px;
  width: 1100px;
}

/* 결재 승인/반려페이지--------------------------------------------------------------------------------------- */
.appAccessorDiv{
  position: absolute;
  top: 20px;
  left: 350px;
  /* flex-wrap: wrap; */
}

.applineInfoBoxDiv2 {
  position: absolute;
  top: -110px;
  left: 840px;
  width:600px;
  height: 150px;
  /* flex-wrap: wrap; */
  
}

.applineInfoBoxDiv2 table {
  position: absolute;
  /* margin-right: 1px; */
  /* flex-wrap: wrap; */
  text-align: center;
  height: 100px;
}

.applineInfoBoxDiv2 table th {
  text-align: center;
  font-size: small;
  height: 5px;
}

.applineInfoBoxDiv2 table td {
  text-align: center;
  font-size: medium;
  height: 10px;
}

.approvalAccessorTable {
  position: absolute;
  top: 300px;
  left: -10px;
  height: 300px;
  width: 1100px;
}

/* .approvalAccessorTable th {
  padding-right: -100px;
}

.approvalAccessorTable td {
  padding-left: 100px;
} */

.appAccessTable {
  position: absolute;
  top: 610px;
  left: -10px;
  width: 1100px;
  height: 150px;
}

.appAccessTable tr td input {
 width: 100px;
 height: 30px;
 width: 300px;
 margin-right: 20px;
}

.appAccessTable tr td button {
  top: 10p;
  width: 100px;
  /* height: 50px; */
}

.registAppLineDiv {
  position: absolute;
  top: 800px;
  height: 150px;
  width: 1200px;
}

.registAppLineDiv button {
  width: 100px;
  height: 40px;
}

.registAppLineDiv button img {
  width: 100px;
  height: 40px;
}

.accessBtn {
  position: absolute;
  left: 800px;

}

.returnBtn {
  position: absolute;
  left: 950px;
  /* flex-wrap: nowrap; */

}
