@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
}

.square {
  position: absolute;
  top: 180px;
  left: 290px;
  background-color: white;
  border-radius: 10px;
  height: 670px;
  width: 1200px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.appLineContentDiv {
  font-family: 'SUITE-Regular';
  position: absolute;
  top: 180px;
  left: 290px; /* Changed 'right' to 'left' */
  height: 670px;
  width: 1200px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* text-align: center; */
}

.flowInfo {
  position: absolute;
  left: 20px;
}

.selectApplineDiv {
  position:absolute;
  left: 150px;
  top: 60px;
}

.selectApplineDiv fieldset {
  height: 500px;
  width: 200px;
}

.selectPeruserDiv {
  position: absolute;
  top: 60px;
  left: 500px;
}

.selectPeruserDiv fieldset {
  height: 500px;
  width: 200px;
}



.registFormDiv {
  position: absolute;
  left: 900px;
}

.registFormDiv button {
  border-color: transparent;
  background-color: transparent;
}

.registFormDiv img {
  width: 100px;
}

.nextBtnDiv {
  position: absolute;
  left : 750px;
  top: 830px;
}


.nextBtnDiv button {
  border-color: transparent;
  background-color: transparent;
}

.nextBtnDiv img {
  width: 100px;
}

.appFormDiv {
  position: absolute;
  top: 70px;
  left: 30px
}