.productDiv {
    display: flex;
    flex-wrap: wrap;
    width: 850px;
    height: 100%;
    margin: 10px;
}

.pagingBtn{
    margin: 2px;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
}

.pagingBtn:hover{
    cursor: pointer;
    background-color: lightgray;
}

.memberPaging {
    position: relative;
    top: -100px;
    left: 800px;
    display: flex;
    flex-wrap: wrap;
    height: 15%;
    margin: 10px;
}