.document-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  font-size: 20px; 
}
.menu-wrapper {
  display: flex;
  gap: 10px;
  margin-left: 300px; /* 오른쪽으로 10px 이동 */
  margin-top: -800px;
}

.menu-item {
  padding: 15px;
  padding-right: 70px;
  background-color: #AEBAE3;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.content {
  
  display: none;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-left: 300px;
  height: 720px;
  width: 1200px; /* 컨텐츠의 넓이를 500px로 설정 */
}

.content.active {
  display: block;
}


.title{
  text-align: center;
  padding: 20px;
  font-size: 25px; /* Set the desired font size */
  font-weight: 800px; /* Set the desired font weight */
  color: #4e4e4e; /* Set the color to white */
}

.modi0{
  background: #000000;
  border-radius: 20px;
  text-align: center;

  position: absolute;
  width: 77px;
  height: 21px;


  color: #ffffff;
  top: 905px;
  left: 870px;
  padding: 10px;
  text-align: center;

  font-weight: 400;
  font-size: 18px;
}

.cal{
background: #7b91de;
border-radius: 10px;
text-align: center;

position: absolute;
width: 327px;
height: 21px;


color: #ffffff;
top: 285px;
left: 1150px;
padding: 10px;
text-align: center;

font-weight: 400;
font-size: 18px;
}

.btnDocu{
background: #192347;
border-radius: 20px;
text-align: center;

position: absolute;
width: 150px;
height: 21px;


color: #ffffff;
top: 135px;
left: 1350px;
padding: 10px;
text-align: center;

font-weight: 400;
font-size: 18px;
}

.docuCal{
width: 400px;
margin-top: -480px;
margin-left: 780px;
font-size: 12px;
}


.modal-overlay {
position: fixed;
text-align: center;
z-index: 9999; /* 모달의 쌓임 순서를 높은 값으로 설정 */
}

.modal-content{
  text-align: center;
}

.modal {
background-color: #fff;
z-index: 10000; /* 모달의 쌓임 순서를 높은 값으로 설정 */
}

.modal-scrollable-content {
  max-height: 400px; /* 원하는 최대 높이로 설정 */
  overflow-y: auto; /* 세로 스크롤을 표시하고 필요한 경우에만 스크롤 표시 */
}
.request {
  border-bottom: 1px solid black; /* 또는 원하는 색 */
}

.request:last-child {
  border-bottom: none;
}


/* 나머지 스타일 규칙 */
