.memberRgTitle {
    position:absolute;
    top: 40px;
    left: 260px;
    padding: 1.5% 3%; 
    font-family: 'SUITE-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 54px;
     
    color: #5b5b5b;
}

.memberRgHr {
    position:absolute;
    top: 110px;
    left: 290px;
    width: 60%;
}

.MemberBackground {

    background-color: #ffffff;
    border-radius: 15px;
    width: 1150px;
    height: 780px;
    left: 300px;
    top : 170px;
    position: absolute;

}

.memberRgTable table {
    border: none;
} 

.memberRgTable {
    margin-left: 600px;
    margin-top : 50px;
}

.MemberRgImg {
    position:absolute;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    top: 120px;
    left: 150px; 
    padding: auto;
    
}

.MemberRgImg button:hover {
    background-color: #0093FB;
}

.memberRgInput {
    background-color: white;
    border : 1px solid #000;
    padding: 7px 7px;
    width: 60%;
    border-radius: 10px;
    text-indent: 1.1em;
  }
  
.memberRgRadio {
    padding: 15px 10px;
  }
  
.memberRgRadio input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 3px;
    margin-right: 15px;
    cursor: pointer;
  }
  
.memberRgRadio input[type="radio"]:checked {
    background-color: #8CCEFD;
    border-color: #8CCEFD;
  }

.memberRgRadio label {
    margin-right: 50px; /* 원하는 간격 크기로 조정 */
    font-size: 17px;
    font-family: 'SUITE-Regular';
}

.memberRgSelect1 {  
    height: 30px;
    width: 65%;
    border-radius: 10px;
    text-indent: 1.1em;
    background-color: white;
    border : 1px solid #000;
    font-family: 'SUITE-Regular';
    font-weight: bold;
}

.memberRgSelect2 {  
    height: 30px;
    width: 65%;
    border-radius: 10px;
    text-indent: 1.1em;
    background-color: white;
    font-family: 'SUITE-Regular';
    font-weight: bold;
    margin-bottom: 20px;
    border : 1px solid #000;
}

.MemberRgPreview {
    height: 200px;
    width: 200px;
    border : 1px solid;
    margin-bottom: 30px;
    padding: 3px;
}

.memberRgLabel {
    font-family: 'SUITE-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    font-weight: 600;
}

.memberRgTd {
    /* padding-top: 20px; */
}

.memberRgBt {
    margin-top: -30px;
}

.memberRgBt button {
    background-color: #8CCEFD;
    border : none;
    padding : 10px 30px;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'SUITE-Regular';
}

.memberRgBt button:hover {
    background-color: #0093FB;
}

.memberRgBt1 {
    margin-left: 700px;
    margin-top: 50px;
}

.memberRgBt2 {
    margin-left: 50px;
}

.memberRgBt3 {
    background-color: #8CCEFD;
    border : none;
    padding : 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'SUITE-Regular';
}


