.memberDtTitle {
    position:absolute;
    top: 40px;
    left: 260px;
    padding: 1.5% 3%; 
    font-family: 'SUITE-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 54px;
     
    color: #5b5b5b;
}

.memberDtBack {
      
      background-color: #ffffff;
      border-radius: 15px;
      width: 1150px;
      height: 780px;
      left: 300px;
      top : 170px;
      position: absolute;
      
}

.memberImageDiv {
    position:absolute;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    top: 50px;
    left: 100px; 
    padding: auto;
}

.memberImagePreview {
    height: 180px;
    width: 180px;
    border : 1px solid;
    margin-bottom: 30px;
    padding: 3px;
}

.memberDtTop {
    position:absolute;
    top: 50px;
    left: 320px; 
}

.memberDtName {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;

}

.memberDtBt1 {
    margin-left: 45px;
    background-color: white;
    font-family: 'SUITE-Regular';
    border: 1px solid;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(140, 206, 253, 0.5);
}

.memberDtTop button:hover {
    background-color: #0093FB;
}

.memberDtBt2 {
    margin-left: 20px;
    background-color: white;
    font-family: 'SUITE-Regular';
    border: 1px solid;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(140, 206, 253, 0.5);
}

.memberDtBt3 {
    margin-left: 20px;
    background-color: white;
    font-family: 'SUITE-Regular';
    border: 1px solid;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(140, 206, 253, 0.5);
}

.memberDtBt4 {
    margin-left: 50px;
    background-color: white;
    font-family: 'SUITE-Regular';
    border: 1px solid;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(250, 0, 0, 0.8);
}

.memberDtDpt {
    position:absolute;
    top: 130px;
    left: 325px;
}

.memberDptName {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.memberDptDes {
    margin-left: 60px;
}

.memberDtJob {
    position:absolute;
    top: 190px;
    left: 325px;
}

.memberJobName {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.memberJobDes {
    margin-left: 60px;
}

.memberDtPhone {
    margin-top: 20px;
}

.memberDtPhone span {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
}

.memberDtEmail {
    margin-top: 20px;
}

.memberDtEmail span {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    margin-right: 15px;
}

.memberDtEmp {
    position:absolute;
    top: 280px;
    left: 110px;
}

.memberDtPer {
    position:absolute;
    top: 515px;
    left: 110px;
}

.memberEmpTitle {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.memberEmpDiv {
    margin-top: 20px;
}

.memberEmpDiv span {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
}

.memberEmpDiv2 {
    margin-left: 70px;
}

.memberEmpDiv3 {
    margin-left: 55px;
}

.memberEmpDiv4 {
    margin-left: 40px;
}

.memberEmpDiv5 {
    margin-left: 40px;
}

.memberEmpDiv6 {
    margin-left: 70px;
}

.memberEmpDiv7 {
    margin-left: 70px;
}

.memberDtHr1 hr{
    position:absolute;
    top: 260px;
    left: 90px;
    width: 70%;
    border-width: 2px;
    border-color : black;
}

.memberDtHr2 hr{
    position:absolute;
    top: 490px;
    left: 90px;
    width: 70%;
    border-width: 2px;
    border-color : black;
}
