.salary-modal-back
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.salary-modal-div
{
    width: 400px;
    height: 500px;
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

}

.modal-saMember-Info
{
    width: 400px;
    height: 420px;
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);    
    z-index: 1000;
}

.modal-img
{
    width: 40px;
    height: 40px;
}

.modal-member-Info
{
    width: 280px;
    height: 50px;
    display: flex;
    bottom: 500px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: white;
    border: solid 1px black;
    border-radius: 25px;  
}

.modal-saTdCell-image
{
    background-color: #ffffff;
    color: rgb(61, 61, 61);
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    padding: 0px;
}

.modal-saTdCell
{
    padding-left: 10px;
}