/* CSS 파일에 @font-face 코드 삽입 */
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
}
/* 공통---------------------------------------------------------------------------------------------------------------- */
.content{
  font-family: 'SUITE-Regular';
  position: absolute;
  top: 180px;
  left: 350px;
  height: 670px;
  width: 1350px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.square {
  position: absolute;
  top: 180px;
  left: 290px;
  background-color: white;
  border-radius: 10px;
  height: 670px;
  width: 1350px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* 메인------------------------------------------------------------------------------------------------------------ */
.noticeTitle{
  color: #181e6c;
  padding: 10px;
  text-align: left;
  position: absolute;
  left: 50px;
  top: 15px;
  
  font-weight: 1000;
  font-size: 28px;
}
.noticeTitleCircle{
  position: absolute;
  background: #dfe2fe;
  left: 50px;
  top: 15px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.noticeSearch {
  position: absolute;
  top: 110px;
  left: 850px;
}

.noticeSearch select {
  height: 27px;
  width: 100px;
  text-align: center;
  border: 1px solid #ccc;
}


.noticeSearchDiv {
  position: absolute;
  left: 100px;
  top: 1px;
  margin-left: 5px;
  border-width: 1px;
  border: 1px solid #ccc;
  height: 25px;
  width: fit-content;
}

.noticeSearchDiv input {
  border: none;
  width: 200px;
  height: 21px;
}

.noticeSearch button {
  /* margin-top: 1px; */
  border: 1px solid #ccc;
  height: 28px;
  background-color: fff;
}

.tableInfo{
  position: absolute;
  top: 120px;
  left: 70px;
}

.noticeMainTable {
  position: absolute;
  left: 45px;
  top: 150px;
  width: 1130px;
}

.noticeMainTable tbody tr .column1,.column2, .column3, .column4 { cursor: pointer;}


.column1, .column0 {
  width: 10px;
  text-align: center;
}

.column2 {
  width: 25px;
  text-align: center;
}
  
.column3 {
  width: 250px;
  text-align: center;
}

.column4 {
  width: 50px;
  text-align: center;
}
  
.deleteBtnDiv {
  position: absolute;
  top:600px;
  left: 45px;
  text-align: center;
  width: 105px;
  cursor: pointer;
}

.goToRegistBtnDiv {
  position: absolute;
  top: 30px;
  left: 1050px;
  cursor: pointer;
  font-size: medium;
  color: #181e6c;
  font-weight: bold;
  text-align: center;
  width: 100px;
  height: 30px;
  padding-top: 7px;
  border-radius: 100px;
  background: hsl(234, 48%, 87%);
}
.goToDelListBtnDiv {
  position: absolute;
  top: 30px;
  left: 930px;
  cursor: pointer;
  font-size: medium;
  color: #181e6cbd;
  font-weight: bold;
  text-align: center;
  width: 100px;
  height: 30px;
  padding-top: 7px;
  border-radius: 100px;
  background: hsla(234, 48%, 87%, 0.575);
}

/* 작성페이지------------------------------------------------------------------------------------------------------------ */
.noticeFormDiv {
  position: absolute;
  top: 100px;
  left: 100px;
  /* width: 1000px; */
  /* height: 800px; */
}

.noticeFormTable {
  position: absolute;
  top: 20px;
  left: -35px;
  /* height: 300px; */
  width: 1100px;
}


.noticeInput {
  width: 500px;
}

.noticeTextrea {
  width: 900px;
  height: 200px;
  resize: none;
  overflow: scroll;
}

.noticeTh{
 width: 70px;
 text-align: center;
}

.registBtnDiv {
  position: absolute;
  top: 820px;
  left: 900px;
  background-color: transparent;
  border-color: transparent;
}




/* 상세페이지------------------------------------------------------------------- */
.DetailDiv {
  position: absolute;
}

.DetailTable {
  position: absolute;
  top: 80px;
  left: 60px;
  width: 1100px;
}
.DetailTable th {
  width: 100px;
  text-align: center;
}

.col1, .col2, .col3, .col4,
.col6, .col7, .col8, .col9 {
  height: min-content;
}

.col5, .col10 {
  height: 300px;
  overflow: scroll;
}


.detailAdminDiv {
  position: absolute;
  top: 10px;
  left: 850px;
  cursor: pointer;
}

.deleteBtn {
  position: absolute;
  left: 150px;
  top: 1px;
  cursor: pointer;
}
