/* CSS 파일에 @font-face 코드 삽입 */
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  }
  /* 공통---------------------------------------------------------------------------------------------------------------- */
  .schContent{
    font-family: 'SUITE-Regular';
    position: absolute;
    top: 180px;
    left: 290px; /* Changed 'right' to 'left' */
    height: 670px;
    width: 1350px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* text-align: center; */
  }
  
  .schSquare {
    position: absolute;
    top: 180px;
    left: 290px;
    background-color: white;
    border-radius: 10px;
    height: 700px;
    width: 1350px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  /* 메인------------------------------------------------------------------------------------------------------------ */
  .schTitle{
    color: #181e6c;
    padding: 10px;
    text-align: left;
    position: absolute;
    left: 50px;
    top: 15px;
    width: 120px;
    
    font-weight: 1000;
    font-size: 28px;
  }
  .schTitleCircle{
    position: absolute;
    background: #dfe2fe;
    left: 50px;
    top: 15px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
  }
  
  .schTableInfo{
    position: absolute;
    top: 100px;
    left: 50px;
  }
  
  .schMainTable {
    position: absolute;
    left: 35px;
    top: 150px;
    width: 1130px;
  }
  
  .schTitle {
    width: 120px;
    text-align: center;
  }

  .schTitle2 {
    width: 130px;
    text-align: center;
  }

  .schContent2 {
    width: 450px;
    text-align: center;
  }
  
  .schStart {
    width: 30px;
    text-align: center;
  }
    
  .schEnd {
    width: 30px;
    text-align: center;
  }
  
  .schWho {
    width: 30px;
    text-align: center;
  }

  .schDept {
    width: 40px;
    text-align: center;
  }

  .allSch table {
    position: absolute;
    top: -70px;
    height: 500px;
  }

  .mbTableDiv {
    position:absolute;
    top: 250px;
    left: 300px; 
    width: 1400px; 
}

.allSchTable {
    border-collapse : collapse;
}

.allSchTable th {
    text-align: center;
    border : 1.5px solid black;
    background-color: white;
}

.allSchTable td {
    text-align: center;
    border : 1.5px solid black;
}